<!DOCTYPE html>
<html>
<head>
	<title>BLOG WEBSITE</title>
</head>
<body>
    <%- include('header'); -%>
  <h1>
      HI Everyone 
  </h1>
  <p> <%= aboutMe %> </p>


  <% Posts.forEach(function(Post){ %>
    <h1><%= Post.Titleof %> </h1>

    <p> 
      <%= Post.Content.substring(0,100)+ "... " %>
      <a href ="/posts/<%= Post.Titleof %>">ReadMore</a>
    </p>

  <% }) %>
  
  <%- include('footer'); -%>


</body>
</html>